<!DOCTYPE html>
<html>
<head>
     <script type="text/javascript" src="C:\wamp\www\tinymceAssignment\bower_components\angular\angular.js"></script>
     
    <script type="text/javascript" src="C:\wamp\www\tinymceAssignment\bower_components\angular-ui-tinymce\src\tinymce.js"></script> 
    <script src="C:\wamp\www\tinymceAssignment\textEditorController.js"></script> 
    <!--
        <script type="text/javascript" src="E:/Tinymce_Assignmenttinymce/js/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="C:\wamp\www\tinymceAssignment\bower_components\tinymce-dist\tinymce.js"></script>
    -->
     
</head>
<body>
	<div ng-app="textEditorApp">
    	<div ng-controller ="textEditorController">
            <h1>TinyMCE Inline Editing Mode Guide</h1>
            <form method="post">
                
                <!-- <div ui-tinymce="tinymceOptions" ng-model="editText.text1">{{editText.text1}}</div>
 -->
                <div ui-tinymce="tinymceOptions" ng-model="editText.text1">{{editText.text1}}</div>
                <!-- <div id="myeditablediv" ng-model="editText.text1" >{{editText.text1}}</div> -->
                <!-- <button ng-click="content()">submit</button> -->
               <!--  <br>
                <div id="myeditablediv1" ng-model="editText.text2" >{{editText.text2}}</div>
              
                <br>
                <div id="myeditablediv2" ng-model="editText.text3" >{{editText.text3}}</div>
                
                  <br>
                <div id="myeditablediv3" ng-model="editText.text4" >{{editText.text4}}</div> -->
               <button ng-click="content()">save</button> 
            </form>
        </div>
    </div>
</body>
</html>


